@import "tailwindcss";

@font-face {
  font-family: 'DancingScript-Regular';
  src: url('../fonts/DancingScript-Regular.woff2') format('woff2'),
       url('../fonts/DancingScript-Regular.woff') format('woff'),
       url('../fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.font_logo {
    font-family: 'DancingScript-Regular', sans-serif;
}